.sb-show-main {
    background-color: black;
}

button[data-name="Preview"] {
    display: none;
}

button[data-name="Source"] {
    display: none;
}

.docs-story button {
    display: none !important;
}
